* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  width: 120%;
  height: max-content;
}

#board {
    width: 100%;
    margin-top: -2vh;
}

#sHome {
  display: flex;
  align-items: center;
  justify-content: center;
}

#sAway {
  display: grid;
  align-items: center;
  justify-content: center;
  
}