body{
    font-family: "Courier New", Courier, monospace;
    text-align: center;
}

#board{
    background-color: black;
}

/*Congratulations, you found a hidden recipe!

Mojito, my favorite cocktail

Ingredients
5 mint leaves, more for garnish
1/2 lime, (4 slices)
2 ounces white rum
1 ounce fresh lime juice
1 ounce lime juice
2 tsp powdered sugar
crushed ice
Club soda or sparkling water
Lime slices, for garnish
Instructions:
Lightly muddle the mint in the bottom of a cocktail shaker or lightly rub the leaves against each other until aromatic. Lightly crush the lime slices together with the mint and powdered sugar. Add the rum, lime juice, a handful of (crushed) ice and shake.
Strain into a glass filled with ice. Top with a splash of club soda and garnish with lime slices and more mint.
*/
