* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    margin: 6vh;
        }

div {
    height: 50vh;
    width: 90%;
    border: 1px solid red;
}