nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    ul {
        list-style: none;
        display: flex;
        gap: 30px;

        li {
            font-size: 20px;

            &:hover {
                cursor: pointer;
                text-decoration: underline;
            }
        }
    }
}