body{
  display: flex;
  margin-top: 15vh;
  justify-content: center;
  align-items: center;
  background: #322828;
  color: white;
}
div{
text-align: center;
}

button{
width: 20em;
  padding: 20px;
  background: rgb(116, 90, 94);
  color: white;
}

h1{
  text-align: center;
}

h2{
  font-size: 36px;
}