@font-face {
    font-family: 'poppins';
    src: url(./assets/font/Poppins/Poppins-Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins';
    padding-inline: 0.5%;
    background-color:#322828;
    color: #dfd4c9;
    
}

body {
    margin: 5vh;
}
a{
    text-decoration: none;
    color: inherit;
}
