@font-face {
    font-family: 'poppins';
    src: url(./assets/font/Poppins/Poppins-Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins';
    padding-inline: 0.5%;
    background-color:#525d5e;
    color: #dfd4c9;
    
}
a{
    text-decoration: none;
    color: inherit;
}
svg{
    background-color: none;
}

svg:hover{
    cursor: pointer;
    transform: translateY(-4px);
    text-shadow: 4px 11px 4px 0px rgba(0, 0, 0, 0.191);
}

