* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    display: grid;
    align-items: center;
    justify-content: center;
    margin: 2vh;
}

body {
    display: grid;
    align-items: center;
    justify-content: center;
    min-height: 70vh;
  }
  
    main {
      width: 70vw;
      padding: 2em;
    }
    
    main:hover {
      box-shadow: 0 0 11px rgba(33,33,33,.2); 
    }

    footer {
        display: grid;
        align-items: center;
        justify-content: center;
        margin: 2vh;
    }