:root {
    &:has(input[name="color-scheme"][value="light dark"]:checked) {
      color-scheme: light dark;
    }
    &:has(input[name="color-scheme"][value="light"]:checked) {
      color-scheme: light;
    }
    &:has(input[name="color-scheme"][value="dark"]:checked) {
      color-scheme: dark;
    }
 

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #fafafa;
    --primary-background: #121212;
    --highlight-color: lime;
  }
}




  }

  body {
    display: grid;
    align-items: center;
    justify-content: center;
    min-height: 70vh;
  }

  main {
    color: CanvasText;
    background-color: Canvas;
    transition: color .4s, background-color .4s;


  }

  .row {
    display: grid;
    align-items: center;
    justify-content: center;
    width: 50vw;
    height: 20vh;
    padding: 2em;
  }

