:root {
    &:has(input[name="color-scheme"][value="light dark"]:checked) {
      color-scheme: light dark;
    }
    &:has(input[name="color-scheme"][value="light"]:checked) {
      color-scheme: light;
    }
    &:has(input[name="color-scheme"][value="dark"]:checked) {
      color-scheme: dark;
    }
  }

  main {
      display: grid;
    align-items: center;
    justify-content: center;
    min-height: 70vh;
    color: CanvasText;
    background-color: Canvas;
    padding: 5em;;
    transition: color .4s, background-color .4s;
  }