* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
    color: black;
}

body {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    min-height: 100vh;
  }

h1 {
    margin-top: 1vh;
    margin-bottom: 1vh;
}
/* ==== */

.red {
    background-color: beige;
    margin-bottom: 2vh;
}
#div1{
    width: 400px;
    height:20px;
    background-color:red;
    transition: width 2s;
}

#div1:hover{
    width: 600px;
    transition-timing-function: linear;
}

#div2{
    width: 400px;
    height:20px;
    background-color:red;
    transition: width 2s,height 4s;
}

#div2:hover{
    width: 600px;
    height: 50px;
}

/* === */

.yellow {
    background-color:rgb(245, 220, 220);

}
#div3{
    width: 400px;
    height:20px;
    background-color:rosybrown;
    transition: width 2s,height 4s;
}

#div3:hover{
    width: 600px;
    transition-timing-function: linear;
}

/* === */

.green {
    background-color:rgb(165, 251, 143);
    margin-top: 2vh;
}
#div4{
    width: 400px;
    background-color:rosybrown;
    transition: width 2s,height 4s;
}

#div4:hover{
    width: 600px;
    transition-timing-function: ease;
}

#div5{
    width: 400px;
    background-color:rosybrown;
    transition: width 2s,height 4s;
}

#div5:hover{
    width: 600px;
    transition-timing-function: ease-in-out;
}
#div6{
    width: 400px;
    background-color:rosybrown;
    transition: width 2s,height 4s;
}
#div6:hover{
    width: 600px;
    transition-delay:  1s;
}
#div7{
    width: 400px;
    background-color:rgb(35, 238, 35);
    transition: width 2s,linear 4s;
}
#div7:hover{
    width: 600px;
}

/* == */

.one {
    background-color: grey;
    width: 1000px;
    height: 500px;
  }
  
  .box1 {
    background-color: grey;
    width: 100%;
    height: 300px;
    margin: 0;
    padding: 0;
  }
  
  .box2 {
    background-color: red;
    width: 150px;
    height: 150px;
    transition: all 10s linear;
  }
  
  .box2:hover {
    transform: scalex(100);
  }

  /* == */

  .two {
    background-color: lightgray;
  }
  
  div {
    height: 100px;
    width: 100px;
    transition: all 4s ease-in-out;
  }
  .red {
    background-color: red;
    margin-bottom: 10px;
  }
  
  .green {
    background-color: green;
    transition-delay: 2s;
  }
  
  section:hover div {
    transform: translate(90vw);
  }

  /* == */

  .animation {
    margin-bottom:6vh;
    background-color: #000;
  min-height: 100vh;
  display: grid;
  place-items: center;
  position: absolute;
  width: 120px;
  }

    .mein_div {
        height: 120px;
        width: 120px;
        background-color: silver;
        border-radius: 100%;
        animation: meine_animation;
        animation-duration: 4s;
        animation-iteration-count: infinite;
      }
      
      .mein_div:nth-of-type(2) {
        animation-delay: 1s;
        animation-fill-mode: backwards;
      }
      
      .mein_div:nth-of-type(3) {
        animation-delay: 2s;
        animation-fill-mode: backwards;
      }
      
      .mein_div:nth-of-type(4) {
        animation-delay: 3s;
        animation-fill-mode: backwards;
      }
      
      @keyframes meine_animation {
        0% {
          background-color: red;
          top: 50px;
          left: 50px;
        }
        25% {
          background-color: gold;
          top: 50px;
          left: 600px;
        }
        50% {
          background-color: lime;
          top: 600px;
          left: 600px;
        }
        75% {
          background-color: blue;
          top: 600px;
          left: 50px;
        }
        100% {
          top: 50px;
          left: 50px;
        }
      }
      
  
  