* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: grid;
  align-items: center;
  justify-content: center;
  min-height: 70vh;
}

main {
    width: 50vw;
    padding: 2em;
  } 

#modal {
    position: absolute;
    display: grid;
    place-items: center;
    justify-content: center;    
/* color: white; */
background: url(Floppydisk.jpg) no-repeat center;
    /* width: 70%;
    height: 70%; */
    top: 20vh;
}

.gallery_item {
width: 600px;
}

.size {
    width: 100%;
}

form {
    position: absolute;
    display: grid;
    place-items: center;
    justify-content: center;    
}

#lab {
    color: red;
}