* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
  display: grid;
  justify-content: center;
  min-height: 90vh; 
}

h5 {
  font-size: 1em;
}

.set {
  display: grid;
  justify-content: center;
  margin: 2vh;
}

.content {
  width: 90vw;
  height: 65vh;
  background-image: url("baustelle_rep1.jpg");
  background-size: cover;
}
