* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    margin: 2rem;
    justify-content: center;
}

section {

}

.base {
    width: 25rem;
    height: 25rem;
    border: 1px solid red;
}

.al {
    width: 25rem;
    height: 25rem;
    border: 1px solid red;
}

.bet {
    width: 25rem;
    height: 25rem;
    border: 1px solid red;
}

.ga {
    width: 25rem;
    height: 25rem;
    border: 1px solid red;
}