*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  /* margin: 0;
  padding: 0; */
}

main {
  border: 2px solid grey;
  padding: 25px;
  width: 450px;
  height: 150px;
  box-sizing: content-box;
}

div {
  background-color: #61d7ac;
  border: 5px solid black;
  padding: 25px;
  width: 450px;
  height: 150px;
}
