.root {
    background-color: black;
    width: 50vw;
}

.body {
    align-items: center;
}

.App {
    text-align: center;
    color: white;
}

.p {
    width: 40vw;
    text-align: center;
    align-items: center;

}