:root {
  --color-yellow: #28230f;
}

* {
  box-sizing: border-box;
  margin:0 auto;
}

p {
  border: 2px solid var(--color-yellow);
}

p::before {
  content: 'Info';
  background-color: var(--color-yellow);
}

p::selection {
  text-decoration: underline;
  color: var(--color-yellow);
}

p::after {
  content: '💛';
}
