:root {
  --color-yellow: #28230f;
}

* {
  box-sizing: border-box;
  margin:0 auto;
  width: 60%;
  padding: 1rem;
}



p::before {
  content: 'Info';
  background-color: var(--color-yellow);
}

p::selection {
  text-decoration: underline;
  color: var(--color-yellow);
}

p::after {
  content: '💛';
}
